@model WebNavaUtil.wsNavautil.Producto
@{ int uniCant = Convert.ToInt32(Model.uca1);}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="form-label">Código</label>
            <input type="text" class="form-control" name="" id="txt-codProdu" value="@Model.codProdu" readonly>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="form-label">Nro. de Etiquetas por Rollo</label>
            <input type="number" class="form-control" name="" id="txt-nroEtiquetas" pattern="[0-9]" onkeydown="if(event.key==='.'){event.preventDefault();}" value="@uniCant" placeholder="Cantidad">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-3">
                <h6>Descripción:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.descProdu</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Unid. Medida:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.UM</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Marca:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.marcaProdu</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Linea:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.nomfam</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Sub Linea:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.nomsub</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Grupo/Tipo:</h6>
            </div>
            <div class="col-md-9">
                <small>@Model.nomgrup</small>
            </div>
        </div>
        @*<h6>Descripción: &nbsp;&nbsp;<small>@Model.descProdu</small></h6>
        <h6>Unid. Medida: &nbsp;&nbsp;<small>@Model.UM</small></h6>
        <h6>Marca: &nbsp;&nbsp;<small>@Model.marcaProdu</small></h6>
        <h6>Linea: &nbsp;&nbsp;<small>@Model.nomfam</small></h6>
        <h6>Sub Linea: &nbsp;&nbsp;<small>@Model.nomsub</small></h6>
        <h6>Grupo/Tipo: &nbsp;&nbsp;<small>@Model.nomgrup</small></h6>*@
    </div>
</div>